{{#each tracks}}
	<div class="ablum-container" style="background-image: url('{{albumArtUrl}}'); height:300px">
    <h1>{{artistName}}</h1>
    <h2 class="track" data-id="{{trackId}}">{{trackName}}</h2>
    <h3>{{albumName}}</h3>
    </div>
{{/each}}